@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    padding: 5%;
}

h2 {
    text-align: center;
}

header {
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 24px;
}

header img {
    width: 160px;
    border-radius: 50%;
    border: 3px solid crimson;
    padding: 5px;
    animation: pulse 2s infinite;
    animation-name: anim;
}

@keyframes anim {
    0% {
        border: 3px solid crimson;
    }
    50% {
        border: 3px solid orange;
    }
    100% {
        border: 3px solid crimson;
    }
}

.title-div {
    text-align: center;
    padding: 10px;
    /*border-radius: 15px;*/
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

.title-div h1, .title-div h2 {
    color: #000;
}

.Lista-Soft-Skills {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.Lista-Soft-Skills p {
    padding: 10px;
    background-color: crimson;
    border-radius: 50px;
    color: #fff;
    margin-top: 10px;
    text-align: center;
    height: auto;
}

.lista-hardskills {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.lista-hardskills img {
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.curso {
    display: flex;
    padding: 10px;
}

.curso img {
    width: 80px;
    height: 80px;
    border-radius: 25px;
    object-fit: cover;
}

.curso div {
    padding: 10px;
    margin-left: 10px;
}

.curso div a, .educacao .curso div h3 {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.lista-idiomas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.lista-idiomas img {
    height: 48px;
    object-fit: cover;
}

.lista-interesses-pessoais {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.lista-interesses-pessoais img, .lista-interesses-pessoais svg {
    height: 48px;
}

.lista-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.lista-portfolio .curso{
    width: 100%;
}

.lista-portfolio img{
    object-fit: contain;
}